#npm node modules
node_modules
coverage
build
temp
# Generated docs with JSDoc
docs
TODO
dist/
lib/
# Sublime text project space
*.sublime-workspace
*.sublime-project
# zip file
*.zip
npm-debug.log
# Mac DS_Store Files
.DS_Store
