sudo: false
language: node_js
node_js:
  - "10"
  - "9"
  - "8"

script:
  - npm install
  - npm run bootstrap:ci
  - npm run lint
  - npm run test
  - npm run build

after_success:
  - npm run codecov

notifications:
  email: false
